!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %title
  %body
    %form{:action => '/', :method => 'POST'}
      %input{ :type => "text", :name => 'amazonId'}/
      %button
        Submit
    - unless @item == ""
      - @item.each do |item|
        %ul
          %li
            %a{ :href => "#{item['DetailPageURL']}" }
              #{item['ItemAttributes']['Title']}
          %li
            %a{ :href => "#{item['DetailPageURL']}" }
              %img{ :src => "#{item['MediumImage']['URL']}", :alt => "#{item['ItemAttributes']['Title']}" }/
        %hr/
    - else
      %p
        = @msg

