.container
  %form.form-inline{:action => '/', :method => 'POST'}
    %input{ :type => "text", :name => 'amazonId'}/
    %button.btn
      Submit
  - unless @item == ""
    - @item.each do |item|
      .row
        .span4
          %a{ :href => "#{item['DetailPageURL']}" }
            %img.img-polaroid{ :src => "#{item['MediumImage']['URL']}", :alt => "#{item['ItemAttributes']['Title']}" }/
        .span8
          %h3
            %a{ :href => "#{item['DetailPageURL']}" }
              #{item['ItemAttributes']['Title']}
      %form.row{:style => 'margin-left: 0;'}
        %fieldset
          %legend
            TITLE
          %label{ :for => "" }
            HTML
          %textarea.span12{ :id => "", :name => "", :rows => "5"}
            <a href="#{item['DetailPageURL']}">#{item['ItemAttributes']['Title']}</a>
          %label{ :for => "" }
            Markdown
          %textarea.span12{ :id => "", :name => "", :rows => "5"}
            [#{item['ItemAttributes']['Title']}](#{item['DetailPageURL']})
        %fieldset
          %legend
            IMAGE
          %label{ :for => "" }
            HTML
          %textarea.span12{ :id => "", :name => "", :rows => "5"}
            <a href="#{item['DetailPageURL']}"><img src="#{item['MediumImage']['URL']}" alt="#{item['ItemAttributes']['Title']}"/></a>
          %label{ :for => "" }
            Markdown
          %textarea.span12{ :id => "", :name => "", :rows => "5"}
            [![#{item['ItemAttributes']['Title']}](#{item['MediumImage']['URL']})](#{item['DetailPageURL']})
      %hr/
  - else
    %p
      = @msg

