.container
  %form.form-inline{:action => '/search', :method => 'POST'}
    %input{ :type => "text", :name => 'search', :placeholder => '検索'}/
    %button.btn
      Search
  %form.form-inline{:action => '/', :method => 'POST'}
    %input{ :type => "text", :name => 'amazonId', :placeholder => 'ISBN番号'}/
    %button.btn
      Submit
  - unless @item == ""
    %h4 アイテム一覧
    %ul.thumbnails
      - @item.each_with_index do |item, i|
        %li.span2
          %a{ :href => "#item#{i}" }
            %div.thumbnail
              - if item['LargeImage']
                %img.img-polaroid{ :src => "#{item['SmallImage']['URL']}", :alt => "#{item['ItemAttributes']['Title']}", :style => 'margin: 10px auto;' }/
              - else
                画像なし
  - unless @item == ""
    - @item.each_with_index do |item, i|
      %div.row{:id => "item#{i}", :style => "padding-top:60px;"}
        .span4
          - if item['LargeImage']
            %img.img-polaroid{ :src => "#{item['LargeImage']['URL']}", :alt => "#{item['ItemAttributes']['Title']}" }/
          - else
            画像なし
        .span8
          %h3
            %a{ :href => "#{item['DetailPageURL']}" }
              #{item['ItemAttributes']['Title']}
      %form.row{:style => 'margin-left: 0;'}
        %fieldset
          %legend
            TITLE
          %label{ :for => "" }
            HTML
          %textarea.span12{ :id => "", :name => "", :rows => "3"}
            <a href="#{item['DetailPageURL']}">#{item['ItemAttributes']['Title']}</a>
        - if item['LargeImage']
          %fieldset
            %legend
              LARGE IMAGE
            %label{ :for => "" }
              HTML
            %textarea.span12{ :id => "", :name => "", :rows => "3"}
              <a href="#{item['DetailPageURL']}" target="_blank"><img src="#{item['LargeImage']['URL']}" alt="#{item['ItemAttributes']['Title']}"/></a>
          %fieldset
            %legend
              MIDIUM IMAGE
            %label{ :for => "" }
              HTML
            %textarea.span12{ :id => "", :name => "", :rows => "3"}
              <a href="#{item['DetailPageURL']}" target="_blank"><img src="#{item['MediumImage']['URL']}" alt="#{item['ItemAttributes']['Title']}"/></a>
          %fieldset
            %legend
              SMALL IMAGE
            %label{ :for => "" }
              HTML
            %textarea.span12{ :id => "", :name => "", :rows => "3"}
              <a href="#{item['DetailPageURL']}" target="_blank"><img src="#{item['SmallImage']['URL']}" alt="#{item['ItemAttributes']['Title']}"/></a>
      %hr/
  - else
    %p
      = @msg

